body {
    font-family: "Monstserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EDF5E1;
}

a, a:hover {
    text-decoration: none;
}

/* css topbar */
#topbar {
    background-color: #5CDB95;
    color: #05386B;
    height: 50px;
    line-height: 50px;
}

.top-contact, .sosmed {
    list-style: none;
    padding: 0;
}

#topbar li {
    display: inline-block;
}

#topbar li a {
    color: #05386B;
    display: inline-block;
    padding: 0 20px;
}

#topbar li a i {
    color: #EDF5E1;
    margin-right: 5px;
}

#topbar .sosmed li a {
    padding: 0 5px;
}

#topbar .sosmed li a i{
    color: #05386B;
}

/* css Header */
header {
    padding: 30px 0;
}

.brand {
    display: flex;
}

.brand img {
    margin-right: 20px;
}

.brand .brand-name h1 {
    font-size: 35px;
    color: #05386B;
    text-transform: uppercase;
}

.brand .brand-name h3 {
    font-size: 18px;
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #5CDB95;
}

.pembungkus-searchbox {
    display: flex;
    align-items: center;
}

.searchbox{
    width: 100%;
}

.btn.btn-utama,
a.btn.btn-utama {
    background-color: #5CDB95;
    color: #05386B;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn.btn-utama:hover,
a.btn.btn-utama:hover {
    color: #05386B;
    background-color: #199b54;
}

/* CSS Menu/Navbar*/
.navbar {
    padding: 0;
    border-bottom: 5px solid #05386B;
}

.nav-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.25px;
}

nav.bg-hijau {
    background-color: #5CDB95!important;
    color: #EDF5E1;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    background-color: #05386B;
    color: #5CDB95;
}


.navbar-dark .navbar-nav .nav-link {
    color: #EDF5E1;
    padding: 15px 20px;
    display: inline-block;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #05386B;
    background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    background-color: transparent;
    color: #05386B;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    border-radius: 0;
    border: 2px;
    background-color: #5CDB95;
}

.dropdown-item {
    color: #05386B;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    background-color: transparent;
    color: #05386B;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #6afcac;
    color: #05386B;
}

/* .active {
    background-color: #05386B;
    color: #5CDB95;
}

li.nav-item.active a{
    color: #5CDB95;
}*/

/* css untuk slider jumbotron */
#jumbotron {
    position: relative;
    min-height: 500px;
}

#jumbotron .active {
    color: #5CDB95;
}

#jumbotron .active {
    color: #5CDB95;
}

#jumbotron .active p {
    color: #05386B;
}

#slider-jumbotron-nav .owl-prev,
#slider-jumbotron-nav .owl-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background-color: #5CDB95;
    color: #EDF5E1;
    outline: none;
    padding: 10px 25px;
    font-size: 20px;
    transition: background-color 0.3s;
}

#slider-jumbotron-nav .owl-prev {
    left: 0;
    border-radius: 0 50px 50px 0;
}

#slider-jumbotron-nav .owl-next {
    right: 0;
    border-radius: 50px 0 0px 50px;
}

#slider-jumbotron-nav .owl-prev:hover,
#slider-jumbotron-nav .owl-next:hover {
    cursor: pointer;
    background-color: #05386B;
}

#jumbotron .slider-item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(237, 245, 225, 0.8);
    padding: 20px;
    text-align: center;
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
}

#jumbotron .slider-item-content h2{
    font-size: 35px;
    font-weight: 500;
}

#jumbotron .slider-item-content p {
    font-size: 16px;
}

/* #jumbotron .slider-item-content p a {
    color: #5CDB95;
    font-weight: 600;
}

#jumbotron .slider-item-content p a:hover {
    border-bottom: 1px dashed #05386B;
} */


#jumbotron .btn.btn-utama {
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: 500;
}

/* css Video */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* css sambutan / profil */
#sambutan {
    margin: 60px 0;
}

#sambutan h2 {
    color: #5CDB95;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}

#sambutan h3 {
    color: #5CDB95;
    font-size: 28px;
    font-weight: 500;
}

#sambutan p {
    color: #379683;
    font-size: 14px;
    font-family: Raleway, sans-serif;
    font-size: 500;
    line-height: 28px;
}

#sambutan .btn.btn-utama {
    text-transform: none;
}

/* css untuk prestasi */
#prestasi {
    min-height: 250px;
    margin: 80px 0;
}

#prestasi .col-item-kanan {
    padding: 20px 30px 20px 20px;
}

.section-item {
    margin: 70px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    min-height: 260px;
    overflow: hidden;
}

.section-item-thumbnail {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 300px;
    max-height: 100%;
}

.section-title {
    margin-bottom: 90px;
    text-align: center;
}

.section-title h2{
    color: #5CDB95;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.section-title h2:after {
    position: absolute;
    content: "";
    width: 60%;
    height: 3px;
    background-color: #05386B;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.section-item-title {
    border-bottom: 1px solid #379683;
    padding: 20px 0;
    margin-bottom: 20px;
}

.section-item-title h3 {
    font-size: 18px;
    color: #5CDB95;
    line-height: 25px;
    font-weight: 600;
    padding-right: 40px;
}

.section-item-title span {
    font-size: 12px;
    color: #379683;
    font-weight: 500;
}

.section-item-title span i {
    margin-right: 5px;
}

.section-item-title span:first-of-type {
    margin-right: 15px;
}

.section-item-body p {
    font-size: 12px;
    line-height: 25px;
    color: #379683;
}


/* css tombol selengkapnya */
.tombol-selengkapnya {
    text-align: center;
}

.btn.btn-more {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #5CDB95;
    display: inline-block;
    border: 2px solid;
    border-radius: 0;
    padding: 10px 40px;
    transition: background-color 0.3s;
}

.btn.btn-more:hover {
    background-color: #5CDB95;
    color: #EDF5E1;
}

/* css slider pendidik */
#tenaga-pendidik {
    margin: 80px 0;
}

#tenaga-pendidik .owl-item {
    padding: 20px 10px;
}

#tenaga-pendidik .foto-guru {
    height: 100%;
    object-fit: cover;
}


.section-item-slider {
    height: 380px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.section-item-caption {
    position: absolute;
    bottom: 0;
    background-color: #EDF5E1;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding: 20px 10px 15px; 
}

.section-item-caption h5 {
    color: #5CDB95;
    font-size: 18px;
    font-weight: 700;
}

.section-item-caption h6 {
    color: #05386B;
    font-size: 14px;
    text-transform: uppercase;
}

#tenaga-pendidik .section-body {
    position: relative;
    margin-bottom: 50px;
}

#slider-tools-1 .owl-prev,
#slider-tools-1 .owl-next {
    position: absolute;
    top: 50%;
    /* transform: translateX(-50%); */
    z-index: 20;
    border: none;
    background-color: #5CDB95;
    color: #EDF5E1;
    outline: none;
    height: 35px;
    width: 35px;
    font-size: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#slider-tools-1 .owl-prev {
    left: -60px;
    border-radius: 50%;
}

#slider-tools-1 .owl-next {
    right: -60px;
    border-radius: 50%;
}

#slider-tools-1 .owl-prev:hover,
#slider-tools-1 .owl-next:hover {
    cursor: pointer;
    background-color: #05386B;
}

/* css galeri */
#galeri {
    background-color: #5CDB95;
    padding: 80px 0;
}

#galeri .section-title h2{
    color: #EDF5E1;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

#galeri .section-title h2:after {
    position: absolute;
    content: "";
    width: 60%;
    height: 3px;
    background-color: #05386B;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

#galeri .owl-item {
    padding: 20px 10px;
}

#galeri .foto-galeri {
    height: 100%;
    object-fit: cover;
}

#galeri .section-item-slider {
    height: 380px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

#galeri .section-item-caption {
    position: absolute;
    bottom: 0;
    background-color: #5CDB95;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding: 20px 10px 15px; 
}

#galeri .section-item-caption h5 {
    color: #05386B;
    font-size: 18px;
    font-weight: 700;
}

#galeri .section-item-caption h6 {
    color: #EDF5E1;
    font-size: 14px;
    text-transform: uppercase;
}

#galeri .section-body {
    position: relative;
    margin-bottom: 50px;
}

#slider-tools-2 .owl-prev,
#slider-tools-2 .owl-next {
    position: absolute;
    top: 50%;
    /* transform: translateX(-50%); */
    z-index: 20;
    border: none;
    background-color: #EDF5E1;
    color: #5CDB95;
    outline: none;
    height: 35px;
    width: 35px;
    font-size: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#slider-tools-2 .owl-prev {
    left: -60px;
    border-radius: 50%;
}

#slider-tools-2 .owl-next {
    right: -60px;
    border-radius: 50%;
}

#slider-tools-2 .owl-prev:hover,
#slider-tools-2 .owl-next:hover {
    cursor: pointer;
    background-color: #05386B;
}

#galeri .btn.btn-more {
    color: #EDF5E1;
    transition: background-color 0.3s;
}

#galeri .btn.btn-more:hover {
    background-color: #EDF5E1;
    color: #5CDB95;
}

/* css untuk eksul */
#ekstrakulikuler {
    padding: 80px 0;
    background-color: #5CDB95;
}

#ekstrakulikuler .section-title h2{
    color: #EDF5E1;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

#ekstrakulikuler .section-title h2:after {
    position: absolute;
    content: "";
    width: 60%;
    height: 3px;
    background-color: #05386B;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

#ekstrakulikuler .section-body-item {
    /* display: flex; */
    background-color: #5CDB95;
    border-radius: 5px;
    padding: 20px;
    color: #05386B;
    height: 200px;
    text-align: center;
    align-items: center;
    font-size: 26px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    /* box-sizing: border-box; */
}

#ekstrakulikuler .section-body-item h4 {
    font-weight: 600;
}

#ekstrakulikuler .section-body-item.bg-opacity-down {
    background-color: transparent;
    padding: 0;
    overflow: hidden;
}

#ekstrakulikuler .section-body-item.bg-opacity-down .section-body-bg {
    background-size: cover;
    position: relative;
    transition: transform 0.5s;
    height: 100%;
    width: 100%;
}

#ekstrakulikuler .section-body-item.bg-opacity-down .section-body-text {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 200px;
    max-width: 100%;
}

#ekstrakulikuler .section-body-item.bg-opacity-down .section-body-bg:after { 
    background-color: rgba(237, 245, 225, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    transition: background-color .5s;
}

#ekstrakulikuler .section-body-item.bg-opacity-down .section-body-bg:hover  {
    transform: scale(1.1);
}

#ekstrakulikuler .section-body-item.bg-opacity-down .section-body-bg:hover:after {
    background-color: rgba(237, 245, 225, 0.8);
}

/* css berita */
#berita {
    margin: 80px 0;
}

#berita .row {
    margin-bottom: 50px;
}

.section-thumbnail {
    width: 100%;
    height: 237px;
    overflow: hidden;
    position: relative;
}

.section-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.section-thumbnail img:hover {
    transform: scale(1.1);
}

.section-thumbnail .tanggal {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    background-color: #5CDB95;
    color: #05386B;
    padding: 5px 10px;
    border-radius: 5px;
}

.section-thumbnail .tanggal span {
    margin: 0;
    padding: 0;
}

.section-thumbnail .tanggal span.tgl {
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -10px;
}

.section-thumbnail .tanggal span.bln {
    font-size: 10px;
}

#berita .section-content {
    padding: 20px 0 0;
}

#berita .section-content h3 {
    font-size: 16px;
    font-weight: 600;
    color: #5CDB95;
    line-height: 24px;
}

#berita .section-content p {
    font-size: 14px;
    color: #379683;
    line-height: 24px;
}

#berita .section-content p .more {
    color: #5CDB95;
    font-weight: 500;
}

.section-meta a {
    background-color: #5CDB95;
    color: #EDF5E1;
    padding: 5px 15px;
    font-size: 11px;
    text-transform: uppercase;
}

.section-meta a i {
    margin-right: 5px;
}

#berita .tombol-selengkapnya {
    margin-top: 80px;
}

/* css footer */
footer {
    background-color: #5CDB95;
    color: #EDF5E1;
    padding: 80px 0 0;
}

footer .footer-col:first-of-type {
    padding-right: 30px;
}

footer .brand {
    display: flex;
}

footer .brand img {
    margin-right: 20px;
}

footer .brand h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
}

footer .tentang {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 15px;
    border-bottom: 1px dashed rgba(5, 56, 107, 0.4);
}

footer .sosmed {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .sosmed li {
    display: inline-block;
    margin-right: 15px;
}

footer .sosmed li a {
    color: #EDF5E1;
    border: 1px solid rgba(5, 56, 107, 0.4);
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    line-height: 50px;
}

footer .sosmed li a:hover {
    color: #05386B;
}

.footer-col h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-col .alamat {
    font-size: 14px;
    line-height: 25px;
}

.footer-col .kontak {
    list-style: none;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
}

.footer-col .kontak li {
    margin: 10px 0;
}

.footer-col .kontak i {
    margin-right: 10px;
}

.footer-col .footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col .footer-nav li {
    margin: 10px 0;
}

.footer-col .footer-nav a {
    color: #EDF5E1;
    font-size: 15px;
    font-weight: 28px;
    transition: all 0.5s;
}

.footer-col .footer-nav a:hover {
    border-bottom: 1px dashed #EDF5E1;
}

.footer-copyright .container {
    border-top: 1px solid rgba(5, 56, 107, 0.5);
    padding: 10px 0;
}

.footer-copyright {
    margin-top: 60px;
}

.footer-copyright h6 {
    font-size: 16px;
    color: #EDF5E1;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-copyright h6 a {
    color: inherit;
}

.footer-copyright h6 a:hover {
    border-bottom: 1px solid #05386B;
    color: #05386B;
}

/* Responsive Web */
@media screen and (max-width: 991px) {

    nav.navbar-expand-lg .navbar-nav .nav-link {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    nav.navbar {
        padding: 10px;
    }

    #head {
        /* padding-bottom: 60px; */
        padding-bottom: 10px;
    }

    .navbar-nav .dropdown-menu.show {
        background-color: transparent;
        border: none;
        padding-top: 0;
    }

    .navbar-dark .navbar-nav .nav-link.dropdown-toggle {
        padding-bottom: 5px;
    }

    .dropdown-item {
        color: #EDF5E1;
    }

    .dropdown-item:focus, .dropdown-item:hover {
        background-color: #6afcac;
        color: #EDF5E1;
    }

    .navbar-dark .navbar-nav .nav-link.show,
    .navbar-dark .navbar-nav .show>.nav-link {
        background-color: transparent;
        color: #EDF5E1;
    } 

    /* css utk hero area */
    #jumbotron .slider-item-content {
        width: 75%;
    }

    #jumbotron .slider-item-content h2 {
        font-size: 24px;
    }

    #jumbotron .slider-item-content p {
        font-size: 14px;
        letter-spacing: 0.35px;
    }

    #slider-jumbotron-nav .owl-prev,
    #slider-jumbotron-nav .owl-next {
        padding: 8px 18px;
    }

    /* css utk video */
    .video-wrapper {
        margin-bottom: 30px;
    }

    #prestasi .col-item-kanan {
        padding: 20px 40px;
    }

    #ekstrakulikuler .section-body-item i {
        padding-bottom: 20px;
    }

    section-thumbnail.thumb-post.thumb-gallery {
        min-height: 350px;
        height: auto;
    }
    
    .section-thumbnail.thumb-post.thumb-gallery .col-kiri {
        padding-right: 15px;
    }
    
    .section-thumbnail.thumb-post.thumb-gallery .col-kanan {
        padding-left: 15px;
    }
    
    .section-thumbnail.thumb-post.thumb-gallery .col-kanan-1 {
        padding-right: 0;
    }
    
    .section-thumbnail.thumb-post.thumb-gallery .col-kanan .col-kanan-2 {
        padding-top: 0;
        padding-left: 0;
    }

    .section-body-gallery {
        padding: 20px;
    }
    
    footer .footer-col {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    #topbar {
        height: initial;
        min-height: 100px;
        line-height: 28px;
        text-align: center;
        padding: 15px 10px;
    }

    #topbar .top-contact li a {
        padding: 0 5px;
    }

    #topbar .sosmed li a {
        padding: 10px 20px;
    }

    header img {
        height: 70px;
        display: block;
        margin: 0px auto;
    }

    header .brand h4 {
        font-size: 11px;
    }

    header .searchbox {
        display: block;
        text-align: center;
        /* margin-bottom: 60px; */
    }

    header form {
        margin-top: 20px;
        width: 70%;
        display: inline-block;
    }

    #topbar .headline {
        font-size: 18px;
        line-height: 20px;

    }

    #topbar .headline a {
        text-transform: none;
        font-weight: 500;
    }

    /* css utk menu */
    .navbar button.navbar-toggler.collapsed,
    .navbar button.navbar-toggler {
        min-width: 140px;
        width: 150px;
        padding: 0px 20px;
        /*margin-bottom: 20px;*/
        transition: 0.5s;
        border: 1px solid transparent;
        outline: none;
    }

    .navbar-dark .navbar-toggler {
        color: #6afcac;
    }

    .navbar button.navbar-toggler.collapsed {
        margin-bottom: 0;

    }
    .navbar-nav {
        margin-top: 10px;
    }

    /* .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 12px;
    } */

    #slider-tools-1 .owl-prev,
    #slider-tools-2 .owl-prev {
        left: -5% !important;
    }

    #slider-tools-1 .owl-next,
    #slider-tools-2 .owl-next {
        right: -5% !important;
    }

}

@media screen and (max-width: 500px) {
    #ekstrakulikuler .section-body-item {
        margin-left: 30px;
        margin-right: 30px;
        padding: 20px 30px;
    }

    #slider-tools-1 .owl-prev,
    #slider-tools-2 .owl-prev {
        left: -4% !important;
    }

    #slider-tools-1 .owl-next,
    #slider-tools-2 .owl-next {
        right: -4% !important;
    }


}